<div class="header-app">
    <h1>Bienvenidos a {{appName}} </h1>
</div>
<div class="button-list">
    <button mat-raised-button color="primary" class="myButton" *ngFor="let product of products" (click)="onAddProduct(product)">
        {{product.name}} / {{product.price}}
    </button>
    <form [formGroup]="this.orderService.myForm" (ngSubmit)="onSubmit()">
       <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput #orderNumber maxlength="3" placeholder="Número de orden" formControlName="orderNumber">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput #orderNumber maxlength="13" placeholder="Nombre del cliente" formControlName="customerName">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                   <button mat-raised-button color="primary" class="btn-send">ENVIAR</button> 
                </td>
            </tr>
       </table> 
    </form>
</div>

<ul class="collection">
    <li *ngFor="let order of tempOrder">
       <span>{{order}}</span>
        <mat-icon (click)="removeItemTempOrder(order)">delete</mat-icon>
    </li>
</ul>
